<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="TempConvertSoap" />
            </basicHttpsBinding>
            <customBinding>
                <binding name="TempConvertSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.w3schools.com/xml/tempconvert.asmx"
                binding="basicHttpsBinding" bindingConfiguration="TempConvertSoap"
                contract="tempConvert.TempConvertSoap" name="TempConvertSoap" />
        </client>
    </system.serviceModel>
</configuration>